*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: sans-serif;
}

body{
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: black;
}

.container{
width: 300px;
height: min-content;
background-color: white;
border-radius: 12px;
padding: 28px;
box-shadow: 0 0 50px 18px rgb(7, 108, 117);
}


.founder{
    align-items: center;
    justify-content: center;
    margin-left: 140px;
}
